# Import the essential libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn

# Read the csv file and analyse the data

In [3]:
data=pd.read_csv('Unemployment in India.csv')

In [4]:
data.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural

In [5]:
data.describe()

,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
count,740.000000,7.400000e+02,740.000000
mean,11.787946,7.204460e+06,42.630122
std,10.721298,8.087988e+06,8.111094
min,0.000000,4.942000e+04,13.330000
25%,4.657500,1.190404e+06,38.062500
50%,8.350000,4.744178e+06,41.160000
75%,15.887500,1.127549e+07,45.505000
max,76.740000,4.577751e+07,72.570000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 7 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Region                                    740 non-null    object
 1    Date                                     740 non-null    object
 2    Frequency                                740 non-null    object
 3    Estimated Unemployment Rate (%)          740 non-null    float64
 4    Estimated Employed                       740 non-null    float64
 5    Estimated Labour Participation Rate (%)  740 non-null    float64
 6   Area                                      740 non-null    object
dtypes: float64(3), object(4)
memory usage: 42.1+ KB

***-->from the above data we can conclude that there are no null values and to make the analysis easier the day,month,year can be considered separately***

In [7]:
data['Day']=data[' Date'].str.slice(0,3)
data['Day']
data['Year']=data[' Date'].str.slice(7,11)
data['Year']

0      2019
1      2019
2      2019
3      2019
4      2019
       ...
763     NaN
764     NaN
765     NaN
766     NaN
767     NaN
Name: Year, Length: 768, dtype: object

In [8]:
data['Year']=data[' Date'].str.slice(7,11)
data['Year']

0      2019
1      2019
2      2019
3      2019
4      2019
       ...
763     NaN
764     NaN
765     NaN
766     NaN
767     NaN
Name: Year, Length: 768, dtype: object

In [9]:
data.columns

Index(['Region', ' Date', ' Frequency', ' Estimated Unemployment Rate (%)',
       ' Estimated Employed', ' Estimated Labour Participation Rate (%)',
       'Area', 'Day', 'Year'],
      dtype='object')

In [10]:
data['Day'].value_counts()

Day
 31    425
 30    262
 29     53
Name: count, dtype: int64

In [11]:
data['Month']=data[' Date'].str.slice(5,6)
data['Month']

0        5
1        6
2        7
3        8
4        9
      ...
763    NaN
764    NaN
765    NaN
766    NaN
767    NaN
Name: Month, Length: 768, dtype: object

In [12]:
data.dropna(inplace=True)
data[['Month','Day','Year']]=data[['Month','Day','Year']].astype(dtype=int)

In [13]:
data

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area,Day,Year,Month
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural,31,2019,5
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural,30,2019,6
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural,31,2019,7
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural,31,2019,8
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural,30,2019,9
...,...,...,...,...,...,...,...,...,...,...
749,West Bengal,29-02-2020,Monthly,7.55,10871168.0,44.09,Urban,29,2020,2
750,West Bengal,31-03-2020,Monthly,6.67,10806105.0,43.34,Urban,31,2020,3
751,West Bengal,30-04-2020,Monthly,15.63,9299466.0,41.20,Urban,30,2020,4
752,West Bengal,31-05-2020,Monthly,15.22,9240903.0,40.67,Urban,31,2020,5
753,West Bengal,30-06-2020,Monthly,9.86,9088931.0,37.57,Urban,30,2020,6

In [14]:
data=data.drop(columns=' Date')

In [15]:
data.columns

Index(['Region', ' Frequency', ' Estimated Unemployment Rate (%)',
       ' Estimated Employed', ' Estimated Labour Participation Rate (%)',
       'Area', 'Day', 'Year', 'Month'],
      dtype='object')

In [16]:
new_data=pd.DataFrame(data=data,columns=['Region', ' Frequency', ' Estimated Unemployment Rate (%)',
       ' Estimated Employed',
       'Area', 'Day', 'Year', 'Month',' Estimated Unemployment Rate (%)'])

In [17]:
new_data

,Region,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Area,Day,Year,Month,Estimated Unemployment Rate (%)
0,Andhra Pradesh,Monthly,3.65,11999139.0,Rural,31,2019,5,3.65
1,Andhra Pradesh,Monthly,3.05,11755881.0,Rural,30,2019,6,3.05
2,Andhra Pradesh,Monthly,3.75,12086707.0,Rural,31,2019,7,3.75
3,Andhra Pradesh,Monthly,3.32,12285693.0,Rural,31,2019,8,3.32
4,Andhra Pradesh,Monthly,5.17,12256762.0,Rural,30,2019,9,5.17
...,...,...,...,...,...,...,...,...,...
749,West Bengal,Monthly,7.55,10871168.0,Urban,29,2020,2,7.55
750,West Bengal,Monthly,6.67,10806105.0,Urban,31,2020,3,6.67
751,West Bengal,Monthly,15.63,9299466.0,Urban,30,2020,4,15.63
752,West Bengal,Monthly,15.22,9240903.0,Urban,31,2020,5,15.22
753,West Bengal,Monthly,9.86,9088931.0,Urban,30,2020,6,9.86

In [18]:
from sklearn.preprocessing import OrdinalEncoder
ordi=OrdinalEncoder()

In [19]:
modified_data=ordi.fit_transform(new_data)

In [20]:
modified_data=pd.DataFrame(modified_data)

In [21]:
modified_data

        0    1      2      3    4    5    6    7      8
0     0.0  0.0   91.0  579.0  0.0  2.0  0.0  5.0   91.0
1     0.0  0.0   71.0  573.0  0.0  1.0  0.0  6.0   71.0
2     0.0  0.0   98.0  586.0  0.0  2.0  0.0  7.0   98.0
3     0.0  0.0   79.0  592.0  0.0  2.0  0.0  8.0   79.0
4     0.0  0.0  167.0  590.0  0.0  1.0  0.0  9.0  167.0
..    ...  ...    ...    ...  ...  ...  ...  ...    ...
735  27.0  1.0  263.0  541.0  1.0  0.0  1.0  2.0  263.0
736  27.0  1.0  231.0  540.0  1.0  2.0  1.0  3.0  231.0
737  27.0  1.0  443.0  510.0  1.0  1.0  1.0  4.0  443.0
738  27.0  1.0  440.0  508.0  1.0  2.0  1.0  5.0  440.0
739  27.0  1.0  328.0  506.0  1.0  1.0  1.0  6.0  328.0

[740 rows x 9 columns]

In [22]:
x=modified_data.iloc[:,:-1]
y=modified_data.iloc[:,-1]

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [24]:
x_train

        0    1      2      3    4    5    6    7
501  10.0  1.0  483.0  169.0  1.0  2.0  1.0  1.0
379   1.0  1.0  216.0  207.0  1.0  1.0  0.0  1.0
134  11.0  0.0  291.0  478.0  0.0  1.0  0.0  6.0
336  26.0  0.0   84.0  237.0  0.0  1.0  0.0  9.0
291  23.0  0.0  199.0  535.0  0.0  1.0  0.0  6.0
..    ...  ...    ...    ...  ...  ...  ...  ...
608  18.0  1.0   24.0   86.0  1.0  1.0  0.0  1.0
629  19.0  1.0  350.0  310.0  1.0  1.0  1.0  6.0
67    5.0  0.0  513.0   15.0  0.0  1.0  1.0  6.0
427   5.0  1.0  383.0  430.0  1.0  2.0  0.0  5.0
487   9.0  1.0  574.0   67.0  1.0  1.0  0.0  1.0

[518 rows x 8 columns]

In [25]:
x_test

        0    1      2      3    4    5    6    7
704  25.0  1.0  362.0  630.0  1.0  1.0  0.0  1.0
450   6.0  1.0  124.0  105.0  1.0  0.0  1.0  2.0
414   4.0  1.0  371.0  240.0  1.0  1.0  0.0  6.0
284  22.0  0.0   17.0  639.0  0.0  2.0  1.0  1.0
717  26.0  1.0  147.0  149.0  1.0  2.0  0.0  0.0
..    ...  ...    ...    ...  ...  ...  ...  ...
559  14.0  1.0  605.0  335.0  1.0  2.0  1.0  5.0
298  23.0  0.0  164.0  585.0  0.0  2.0  1.0  1.0
531  12.0  1.0  449.0  495.0  1.0  2.0  1.0  5.0
560  14.0  1.0  394.0  442.0  1.0  1.0  1.0  6.0
241  18.0  0.0   50.0   24.0  0.0  2.0  1.0  3.0

[222 rows x 8 columns]

In [26]:
y_train

501    483.0
379    216.0
134    291.0
336     84.0
291    199.0
       ...
608     24.0
629    350.0
67     513.0
427    383.0
487    574.0
Name: 8, Length: 518, dtype: float64

In [27]:
y_test

704    362.0
450    124.0
414    371.0
284     17.0
717    147.0
       ...
559    605.0
298    164.0
531    449.0
560    394.0
241     50.0
Name: 8, Length: 222, dtype: float64

In [28]:
from sklearn.ensemble import RandomForestRegressor

In [33]:
rfr=RandomForestRegressor(n_estimators=1000)

In [34]:
rfr.fit(x_train,y_train)

RandomForestRegressor(n_estimators=1000)

In [36]:
y_predict=rfr.predict(x_test)

In [37]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_predict)

In [38]:
score

0.9999782039370037

In [43]:

new=rfr.predict([x_train.iloc[0,:]])

In [47]:
new_d=pd.DataFrame([x_train.iloc[0,:]])
new_d[out]=new

In [48]:
new_d

,0.000,1.000,2.000,3.000,4.000,5.000,6.000,7.000,482.781
501,10.0,1.0,483.0,169.0,1.0,2.0,1.0,1.0,482.781

In [49]:
ordi.inverse_transform(new_d)

array([['Jammu & Kashmir', 'Monthly', 18.54, 1079537.0, 'Urban', 31,
        2020, 1, 18.43]], dtype=object)